<p class="styled-paragraph">Question: <%= params[:question] %></p>
<p class="styled-paragraph">Coach's Answer: <%= @answer %></p>
<%= link_to "Ask a new question", "/ask", class: "btn btn-secondary" %>